{% extends "atx.home.html" %}

{% block full_content %}

<link rel="stylesheet" id="theme-stylesheet" href="{{ url_for('netwatch.static', filename='css/common.css') }}">
<script src="{{ url_for('netwatch.static', filename='js/netwatch.js') }}"></script>
<script src="{{ url_for('static', filename='js/atx.utils.js') }}"></script>


<div class="netwatch-actions">
    <input id="devices" placeholder="10.1.1.1, 10.1.1.2" style="width: 100%;">

    <button class="icon-text" id="startBtn">
        <span class="material-icons">play_arrow</span> Start
    </button>

    <button class="icon-text" id="stopBtn" onclick="stopWatch()" disabled>
        <span class="material-icons">stop</span> Stop
    </button>

    <button class="icon-text" id="clearBtn" onclick="clearWatch()">
        <span class="material-icons">clear_all</span> Clear
    </button>
</div>

<div class="netwatch-status-bar">
    <div style="font-weight: 600;">Status:</div>
    <span id="statusText">Idle</span>
</div>

<div class="netwatch-table-container">
    <table id="watchTable" class="display" style="width:100%">
    <thead></thead>
    <tbody></tbody>
</table>
</div>

<!-- Run Modal -->
<div class="simple-modal-overlay" id="runModal">
    <div class="simple-modal-container" style="width: 600px;">

        <div class="simple-modal-header">
            <div class="simple-modal-title">Run</div>
            <button class="close" id="closeRunModal">
                <span class="material-icons">close</span>
            </button>
        </div>

        <div class="simple-modal-body">
            <form id="runModalForm">
                <div class="form-group-row">
                    <label>Connector</label>
                    <select id="runModalConnectors" required>
                        <option value="">-- Select Connector --</option>
                    </select>
                </div>
            </form>
        </div>

        <div class="simple-modal-footer">
            <button type="submit" form="runModalForm" id="confirmRunModal" class="icon-text">
                <span class="material-icons">play_arrow</span> Run
            </button>
        </div>
    </div>
</div>

{% endblock %}